.study {
    padding-bottom: 54px;

    .study_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-top: 34px;
    }
}

@import "./study_item";


@media (max-width: 1150px) {
    .study {
        .study_list {
            grid-template-columns: repeat(1, 1fr);

            .study_item:nth-child(1) {
                margin-left: 20%;
            }

            .study_item:nth-child(2) {
                margin-right: 20%;
            }
        }
    }
}

@media (max-width: 800px) {
    .study {
        .study_list {

            .study_item:nth-child(1) {
                margin-left: 8%;
            }

            .study_item:nth-child(2) {
                margin-right: 8%;
            }
        }
    }
}

@media (max-width: 500px) {
    .study {
        padding-bottom: 20px;

        .study_list {

            .study_item:nth-child(1) {
                margin-left: 0%;
            }

            .study_item:nth-child(2) {
                margin-right: 0%;
            }
        }
    }
}