// fonts
$poppins: "Poppins", sans-serif;  
$racing: "Racing Sans One", sans-serif;  
$work: "Work Sans", sans-serif;
// colors
$white: #FFFFFF;
$dark: #252525;
$blue_dark: #232536;
$green: #20B15A;
$bg_gray: #D7F5DC;
$gray: #556070;