.format {
    padding-bottom: 72px;

    .format_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        width: 100%;

        .format_foto {
            width: 50%;
            object-fit: contain;
        }
    }

    .format_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        width: 50%;

        .format_item:nth-child(even) {
            margin-top: 24px;
        }

        .format_item:nth-child(odd) {
            margin-bottom: 24px;
        }
    }
}

@import "./format_item";