.problems {
    padding-top: 48px;
    padding-bottom: 66px;

    .problems_wrapper {
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
}

@import "./problems_item";

@media (max-width: 1150px) {
    .problems {
        .problems_wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}



@media (max-width: 800px) {
    .problems {
        .problems_wrapper {
            grid-template-columns: 1fr;
        }
    }
}