.suptitle {
    padding-top: 10px;
    color: $dark;
    font-family: $poppins;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    width: 920px;

    span {
        color: $green;
    }
}

@media (max-width: 1000px) {
    .suptitle {
        font-size: 20px;
        width: 80%;
    }
}