.title {
    color: $dark;
    font-family: $poppins;
    font-weight: 700;
    font-size: 35px;
    line-height: 65px;

    span {
        color: $green;
    }
}

@media (max-width: 1000px) {
    .title {
        font-size: 28px;
    }
}