.view_all {
    width: 100%;
    display: none;
    justify-content: end;
    margin-top: 40px;

    .view_all_btn {
        border: 0px;
        border-bottom: 1px solid $green;
        color: $green;
        font-family: $poppins;
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;
        padding-bottom: 1px;
        background: transparent;
        cursor: pointer;
    }
}


@media (max-width: 800px) {
    .view_all {
        display: flex;
    }
}