.mediaboost {
    padding: 54px 0px;

    .mediaboost_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 27px;
        margin-top: 35px;
    }
}

@import "./mediaboost_item";


@media (max-width: 1000px) {
    .mediaboost {
        .mediaboost_list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


@media (max-width: 800px) {
    .mediaboost {
        .mediaboost_list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}