.mediaboost_item {
    padding: 23px;
    background: $white;
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px #0000001A;
    cursor: pointer;
    transition: 0.1s linear;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 4px 35px 0px #0000001A;
    }

    .mediaboost_number {
        width: 50px;
        height: 50px;
        background: $green;
        color: $white;
        font-family: $racing;
        font-weight: 400;
        font-size: 40px;
        line-height: 64px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0px 4px 20px 0px #0000001A;
    }

    .mediaboost_suptitle {
        padding-top: 20px;
        color: rgba($dark, 0.9);
        font-family: $poppins;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;

        span {
            font-weight: 500;
            color: rgba($green, 0.9);
        }
    }
}

@media (max-width: 500px) {
    .mediaboost_item {
        padding: 15px;

        .mediaboost_number {
            width: 35px;
            height: 35px;
            font-size: 30px;
        }

        .mediaboost_suptitle {
            font-size: 17px;
        }
    }
}


@media (max-width: 400px) {
    .mediaboost_item {
        padding: 15px;

        .mediaboost_number {
            width: 30px;
            height: 30px;
            font-size: 26px;
        }

        .mediaboost_suptitle {
            font-size: 15px;
        }
    }
}